/*sacar valores por defecto del navegador*/
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: 'Oswald', sans-serif;
  padding: 0px;
  margin: 0px;
}

body {
display: flex;
flex-direction: column;
min-height: 100vh;
background: linear-gradient(rgb(254, 254, 254), rgb(187, 210, 255));   
overflow-x: hidden;
}

/* NAV --------------------------------------------------------------------------------*/


.navbar{
  font-size: 16px;
  z-index: 100;
}

ul>li {
  list-style: none;
}

.navlink {
  text-decoration: none; /* Remove the underline */
  color: black; 
}

/* TEXTS ------------------------------------------------------------------------------------------------*/

h1 {
  
  font-size: 2em;
  padding: 10px 30px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  z-index: 1;
}

h2 {   
  font-size: 20px;
  text-align: center;
  margin-top: 1em;
  margin: auto;
}