/* LANDING IMG ----------------------------------------------------------------------------*/

.perfil{
    width: 96%;
    max-width: 500px;
    margin: auto;
  }
  
  .perfil_imagen {
  
    display: block;
    width: 100%;
    height: auto;
    animation: perfil 3s ease-in-out
    infinite;
  }  
  
  @keyframes perfil {
  
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
  }


/* BLOCKS ----------------------------------------------------------------------------*/

.inicial {
  width: 85vw;
  background: linear-gradient(rgb(166, 162, 255), rgb(21, 47, 76));   
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin: auto;
  padding: 20px 10px;
  text-align:justify;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow:  8px 4px 4px rgb(3, 31, 107), 15px 4px 10px rgb(3, 31, 107);
  transition-property: all;
  transition-duration:  1s;
}



.inicial:hover {
background: linear-gradient(rgb(140, 134, 237), rgb(7, 24, 44));
box-shadow:  8px 4px 4px rgb(97, 97, 228), 15px 4px 10px rgb(97, 97, 228);
}

.inicial_titulo {
  font-size: 1.5em;
  margin: auto;
  text-align: center;
}


.parrafoInicial_texto {
  padding: 5px 4px;
  display: inline-block;
}


/* LANDING-SUB-BLOCK ------------------------------------------------------------------------------------------------*/

.block-dark {
    background-color: rgb(14, 14, 36);
    color: white;
    border-radius: 20px;
    margin-bottom: 2em;
}

@media screen and (max-width: 575px){
  .block-dark {
    border-radius: 0px;
    margin-bottom: 0px;
  }

}

  .landing-blocks {
    background-color: rgb(99, 76, 201);
    color: #000;
    border-radius: 5px;
    width: 80%;
    box-shadow:  8px 4px 4px rgb(241, 242, 245), 15px 4px 10px rgb(3, 31, 107);
  }
  
  .subtitle-container{
    background-color: rgb(236, 228, 228);
    color: #000;
    height: 3em;
    background-color: rgb(14, 14, 36);
    align-items: center;
  }

  .subtitle-container p {
    font-family: 'Oswald', sans-serif;
    width: 10em;
    height: 2.8em;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    text-align: center;
    padding-top: 12px;
    box-shadow:  8px 4px 4px rgb(124, 152, 228), 15px 4px 10px rgb(3, 31, 107);
  
  }  

  .navlink button {
    height: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
  
  }