/* PROJECTS -------------------------------------------------------------------*/

.proj-block {
  border-radius: 10px;
  box-shadow:  4px 4px 4px rgb(124, 152, 228), 15px 4px 10px rgb(3, 31, 107);
}

.button-proj{
  color: black;
  border-radius: 15px;
  background: rgb(226,226,226);
  background: radial-gradient(circle, rgba(226,226,226,1) 15%, rgba(255,255,255,1) 100%);
  box-shadow:  4px 4px 4px rgb(124, 152, 228), 15px 4px 10px rgb(3, 31, 107);
}