/* PROYECTOS -------------------------------------------------------------------*/

.tarjetaCiudad {
    width: 90%;
    margin: auto;
    transition: 0.5s;
    margin-bottom: 5em;
  }
  
  .card-imagen{
    height: 300px;
    width: 100%;
  }
  .imagenTarj{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .code {
    animation: code 1.2s ease-in-out
    infinite;
  }  
  
  @keyframes code {
  
    0% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-5px);
    }
    100% {
    transform: translateY(0);
    }
  }
  