
/* TECHNOLOGIES BLOCK ------------------------------------------------------------------------------------------------*/

.estilo01 {
  background: rgb(15,17,139);
  background: radial-gradient(circle, rgba(15,17,139,1) 15%, rgba(70,92,252,1) 100%);
  color: white;
}  

.estilo02 {
  background: rgb(182,4,4);
  background: radial-gradient(circle, rgba(182,4,4,1) 15%, rgba(203,255,39,1) 100%);
  color: white;
}  

.estilo03 {
  background: rgb(222,57,254);
  background: radial-gradient(circle, rgba(222,57,254,1) 15%, rgba(68,108,247,1) 100%);
  color: white;
}  

.image-tech {
  width: 250px;
}



.title-tech {
  font-family: 'Oswald', sans-serif;
  font-size: large;
}

.subtitle-tech {
  font-family: 'Oswald', sans-serif;
}

.navlink {
  color: white;
}

.navlink button {
  height: 100%;
  width: 100%;
  font-family: 'Oswald', sans-serif;
}